<!DOCTYPE html>
<html lang="pt" dir="ltr">
<head>
    <title>Agendamento Cabelo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=width-device, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" href="~/images/logoDPBS.jpg" type="image/x-png" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/padrao.css" rel="stylesheet" />

</head>
<body>

    <!-- Menu -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark wow fadeInDown" data-wow-duration="0.5s">
        <!-- style="background-color:#8B0000" -->

        <a href="~/Home/Index" class="navbar-brand"><img src="~/images/logoDPBS.jpg" class="navbar-brand"></a>
        <!-- <img src="icon-teste.jpg"  style="height:50px;width:50px"class="navbar-brand"> -->


        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarMenu">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="~/Home/Index"> <b>Home</b> </a>
                <a class="nav-item nav-link" href="~/Home/Estilos"> <b>Estilos</b></a>
                <a class="nav-item nav-link active" href="~/Home/Login"> <b>Agendamento</b></a>
                <a class="nav-item nav-link" href="~/Home/Sobre"> <b>Sobre</b></a>
            </div>
        </div>
        <p style="text-align:right"><a class="btn btn-danger" href="~/Home/Index"> Sair</a></p>


    </nav>



    <div class="container">

        <table class="table table-dark table-striped table-bordered ">
            <!--  table table-sm, table-hover, table-bordered, table-striped, table-dark, table-danger, table-success... -->
            <thead class="thead-light">
                <tr>
                    <th>
                        <div class="form-group">
                            <label><b>Selecione a data:</b></label>
                            <input id="" name="" type="date" class="form-control form-control-sm"
                                   required placeholder="Digite seu Nome">
                        </div>
                    </th>
                    <th>Selecione o funcionário</th>
                    <th></th>

                </tr>
            </thead>
            <tbody class="table-sm">
                <tr>

                    <td>8:00 - 8:30</td>
                    <!-- 1 -->
                    <td>
                        <div class="form-group">
                            <select class="form-control form-control-sm">
                                <option>Thomas </option>
                                <option>Cristiano</option>
                                <option>Vinicius</option>
                                <option>Leandro</option>
                            </select>
                        </div>
                    </td>
                    <td><p><button class="btn btn-success btn-block">Agendar</button></p></td>
                </tr>
                <!-- 2 -->
                <tr>

                    <td>8:30 - 9:00</td>
                    <td>
                        <div class="form-group">
                            <select class="form-control form-control-sm">
                                <option>Thomas </option>
                                <option>Cristiano</option>
                                <option>Vinicius</option>
                                <option>Leandro</option>
                            </select>
                        </div>
                    </td>
                    <td><p><button class="btn btn-success btn-block">Agendar</button></p></td>
                </tr>
                <!-- 3 -->
                <tr>

                    <td>9:00 - 9:30</td>
                    <td>
                        <div class="form-group">
                            <select class="form-control form-control-sm">
                                <option>Thomas </option>
                                <option>Cristiano</option>
                                <option>Vinicius</option>
                                <option>Leandro</option>
                            </select>
                        </div>
                    </td>
                    <td><p><button class="btn btn-success btn-block">Agendar</button></p></td>
                </tr>
                <!-- 4 -->
                <tr>

                    <td>9:30 - 10:00</td>
                    <td>
                        <div class="form-group">
                            <select class="form-control form-control-sm">
                                <option>Thomas </option>
                                <option>Cristiano</option>
                                <option>Vinicius</option>
                                <option>Leandro</option>
                            </select>
                        </div>
                    </td>
                    <td><p><button class="btn btn-danger btn-block btn-default">Indisponível</button></p></td>
                </tr>
                <!-- 5 -->
            <tr>
            <td>10:00 - 10:30</td>
            <td>
                <div class="form-group">
                    <select class="form-control form-control-sm">
                        <option>Thomas </option>
                        <option>Cristiano</option>
                        <option>Vinicius</option>
                        <option>Leandro</option>
                    </select>
                </div>
            </td>
            <td><p><button class="btn btn-danger btn-block btn-default">Indisponível</button></p></td>
            </tr>
            <!-- 6 -->
            <tr>

                <td>10:30 - 11:00</td>
                <td>
                    <div class="form-group">
                        <select class="form-control form-control-sm">
                            <option>Thomas </option>
                            <option>Cristiano</option>
                            <option>Vinicius</option>
                            <option>Leandro</option>
                        </select>
                    </div>
                </td>
                <td><p><button class="btn btn-success btn-block">Agendar</button></p></td>
            </tr>
            <!-- 7 -->
            <tr>
            <td>11:30 - 12:00</td>
            <td>
                <div class="form-group">
                    <select class="form-control form-control-sm">
                        <option>Thomas </option>
                        <option>Cristiano</option>
                        <option>Vinicius</option>
                        <option>Leandro</option>
                    </select>
                </div>
            </td>
            <td><p><button class="btn btn-danger btn-block btn-default">Indisponível</button></p></td>
            </tr>

            </tbody>


        </table>



    </div>




    @*Java script da página*@

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>
