<!DOCTYPE html>
<html lang="pt" dir="ltr">
<head>
    <title>Nossos Estilos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=width-device, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" href="~/images/logoDPBS.jpg" type="image/x-png" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/padrao.css" rel="stylesheet" />


</head>
<body class="bg-cinza-escuro">

    <!-- Menu -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark  wow fadeInDown" data-wow-duration="0.5s">
        <!-- style="background-color:#8B0000" -->

        <a href="~/Home/Index" class="navbar-brand"><img src="~/images/logoDPBS.jpg" class="navbar-brand"></a>
        <!-- <img src="icon-teste.jpg"  style="height:50px;width:50px"class="navbar-brand"> -->


        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarMenu">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="~/Home/Index"> <b>Home</b> </a>
                <a class="nav-item nav-link active" href="~/Home/Estilos"> <b>Estilos</b></a>
                <a class="nav-item nav-link" href="~/TB_CLIENTE/Create"> <b>Agendamento</b></a>
                <a class="nav-item nav-link" href="~/Home/Sobre"> <b>Sobre</b></a>
                <a class="nav-item nav-link" href="~/TB_FUNCIONARIO/Login"> <b>Área do Funcionário</b></a>
            </div>
        </div>

        </div>


    </nav><br><br>

    <div class="container bg-dark">
        <h1 class="text-center color-dourado">Opções de Estilos</h1>
      
        <div class="row justify-content-center" style="height:400px">
            <div class="col-4 text-center div-col">
                <h4>Corte 1</h4>
                <img src="~/images/Barba10.jpg" alt="" class="img-fluid img-thumbnail wow zoomIn" data-wow-delay="0.2s">
                <br>
                <b>Descrição</b>
                <br>

                <button class="btn btn-dark wow fadeInDown" data-wow-duration="1.8s" data-toggle="modal" data-target="#janela1">Saiba mais</button>
                <br><br>


                <!-- MODAL1 -->
                <div class="modal fade" id="janela1">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content bg-dark color-cinza">
                            <div class="modal-header">
                                <h5 class="modal-title">Cabelo</h5>
                                <button class="close" data-dismiss="modal"> <span>&times;</span> </button>
                            </div>

                            <div class="modal-body">
                                <img src="~/images/Barba10.jpg" alt="" class="img-fluid img-thumbnail">
                                <p>Estilo do momento, aproveite!</p>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-danger" data-dismiss="modal"> Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-4 text-center div-col">
                <h4>Corte 2</h4>
                <img src="~/images/Barba20.jpg" alt="" class="img-fluid img-thumbnail wow zoomIn" data-wow-delay="0.2s">
                <br>
                <b>Descrição</b>
                <br>

                <button class="btn btn-dark wow fadeInDown" data-wow-duration="1.8s" data-toggle="modal" data-target="#janela2">Saiba mais</button>
                <br><br>

                <!-- MODAL1 -->
                <div class="modal fade" id="janela2">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content bg-dark color-cinza">
                            <div class="modal-header">
                                <h5 class="modal-title">Cabelo</h5>
                                <button class="close" data-dismiss="modal"> <span>&times;</span> </button>
                            </div>

                            <div class="modal-body">
                                <img src="~/images/Barba20.jpg" alt="" class="img-fluid img-thumbnail">
                                <p>Estilo do momento, aproveite!</p>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-danger" data-dismiss="modal"> Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-4 text-center div-col">
                <h4>Corte 3</h4>
                <img src="~/images/Barba30.jpg" alt="" class="img-fluid img-thumbnail wow zoomIn" data-wow-delay="0.2s">
                <br>
                <b>Descrição</b>
                <br>

                <button class="btn btn-dark wow fadeInDown" data-wow-duration="1.8s" data-toggle="modal" data-target="#janela3">Saiba mais</button>
                <br><br>
                <!-- MODAL1 -->
                <div class="modal fade" id="janela3">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content bg-dark color-cinza">
                            <div class="modal-header">
                                <h5 class="modal-title">Cabelo</h5>
                                <button class="close" data-dismiss="modal"> <span>&times;</span> </button>
                            </div>

                            <div class="modal-body">
                                <img src="~/images/Barba30.jpg" alt="" class="img-fluid img-thumbnail">
                                <p>Estilo do momento, aproveite!</p>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-danger" data-dismiss="modal"> Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 text-center div-col">
                <h4>Corte 4</h4>
                <img src="~/images/Cabelo40.jpg" alt="" class="img-fluid img-thumbnail wow zoomIn" data-wow-delay="0.2s">
                <br>
                <b>Descrição</b>
                <br>

                <button class="btn btn-dark wow fadeInDown" data-wow-duration="1.8s" data-toggle="modal" data-target="#janela4">Saiba mais</button>
                <br><br>

                <!-- MODAL1 -->
                <div class="modal fade" id="janela4">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content bg-dark color-cinza">
                            <div class="modal-header">
                                <h5 class="modal-title">Cabelo</h5>
                                <button class="close" data-dismiss="modal"> <span>&times;</span> </button>
                            </div>

                            <div class="modal-body">
                                <img src="~/images/Cabelo40.jpg" alt="" class="img-fluid img-thumbnail">
                                <p>Estilo do momento, aproveite!</p>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-danger" data-dismiss="modal"> Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 text-center div-col">
                <h4>Corte 5</h4>
                <img src="~/images/Cabelo50.jpg" alt="" class="img-fluid img-thumbnail wow zoomIn" data-wow-delay="0.2s">
                <br>
                <b>Descrição</b>
                <br>

                <button class="btn btn-dark wow fadeInDown" data-wow-duration="1.8s" data-toggle="modal" data-target="#janela5">Saiba mais</button>
                <br><br>
                <!-- MODAL1 -->
                <div class="modal fade" id="janela5">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content bg-dark color-cinza">
                            <div class="modal-header">
                                <h5 class="modal-title">Cabelo</h5>
                                <button class="close" data-dismiss="modal"> <span>&times;</span> </button>
                            </div>

                            <div class="modal-body">
                                <img src="~/images/Cabelo50.jpg" alt="" class="img-fluid img-thumbnail">
                                <p>Estilo do momento, aproveite!</p>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-danger" data-dismiss="modal"> Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 text-center div-col">
                <h4>Corte 6</h4>
                <img src="~/images/Cabelo60.jpg" alt="" class="img-fluid img-thumbnail wow zoomIn" data-wow-delay="0.2s">
                <br>
                <b>Descrição</b>
                <br>

                <button class="btn btn-dark wow fadeInDown" data-wow-duration="1.8s" data-toggle="modal" data-target="#janela6">Saiba mais</button>
                <br><br>

                <!-- MODAL1 -->
                <div class="modal fade" id="janela6">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content bg-dark color-cinza">
                            <div class="modal-header">
                                <h5 class="modal-title">Cabelo</h5>
                                <button class="close" data-dismiss="modal"> <span>&times;</span> </button>
                            </div>

                            <div class="modal-body">
                                <img src="~/images/Cabelo60.jpg" alt="" class="img-fluid img-thumbnail">
                                <p>Estilo do momento, aproveite!</p>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-danger" data-dismiss="modal"> Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- BARBAS -->

            <div class="col-4 text-center div-col">
                <h4>Barba 1</h4>
                <img src="~/images/CabeloBarba.jpg" alt="" class="img-fluid img-thumbnail wow zoomIn" data-wow-delay="0.2s">
                <br>
                <b>Descrição</b>
                <br>

                <button class="btn btn-dark wow fadeInDown" data-wow-duration="1.8s" data-toggle="modal" data-target="#janela7">Saiba mais</button>
                <br><br>
                <!-- MODAL1 -->
                <div class="modal fade" id="janela7">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content bg-dark color-cinza">
                            <div class="modal-header">
                                <h5 class="modal-title">Cabelo</h5>
                                <button class="close" data-dismiss="modal"> <span>&times;</span> </button>
                            </div>

                            <div class="modal-body">
                                <img src="~/images/CabeloBarba.jpg" alt="" class="img-fluid img-thumbnail">
                                <p>Estilo do momento, aproveite!</p>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-danger" data-dismiss="modal"> Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 text-center div-col">
                <h4>Barba 2</h4>
                <img src="~/images/CabeloBarba1.jpg" alt="" class="img-fluid img-thumbnail wow zoomIn" data-wow-delay="0.2s">
                <br>
                <b>Descrição</b>
                <br>

                <button class="btn btn-dark wow fadeInDown" data-wow-duration="1.8s" data-toggle="modal" data-target="#janela8">Saiba mais</button>
                <br><br>
                <!-- MODAL1 -->
                <div class="modal fade" id="janela8">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content bg-dark color-cinza">
                            <div class="modal-header">
                                <h5 class="modal-title">Cabelo</h5>
                                <button class="close" data-dismiss="modal"> <span>&times;</span> </button>
                            </div>

                            <div class="modal-body">
                                <img src="~/images/CabeloBarba1.jpg" alt="" class="img-fluid img-thumbnail">
                                <p>Estilo do momento, aproveite!</p>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-danger" data-dismiss="modal"> Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-4 text-center div-col">
                <h4>Barba 3</h4>
                <img src="~/images/CabeloBarba2.jpg" alt="" class="img-fluid img-thumbnail wow zoomIn" data-wow-delay="0.2s">
                <br>
                <b>Descrição</b>
                <br>

                <button class="btn btn-dark wow fadeInDown" data-wow-duration="1.8s" data-toggle="modal" data-target="#janela9">Saiba mais</button>
                <br><br>
                <!-- MODAL1 -->
                <div class="modal fade" id="janela9">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content bg-dark color-cinza">
                            <div class="modal-header">
                                <h5 class="modal-title">Cabelo</h5>
                                <button class="close" data-dismiss="modal"> <span>&times;</span> </button>
                            </div>

                            <div class="modal-body">
                                <img src="~/images/CabeloBarba2.jpg" alt="" class="img-fluid img-thumbnail">
                                <p>Estilo do momento, aproveite!</p>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-danger" data-dismiss="modal"> Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 text-center div-col">
                <h4>Barba 4</h4>
                <img src="~/images/CabeloBarba3.jpg" alt="" class="img-fluid img-thumbnail wow zoomIn" data-wow-delay="0.2s">
                <br>
                <b>Descrição</b>
                <br>

                <button class="btn btn-dark wow fadeInDown" data-wow-duration="1.8s" data-toggle="modal" data-target="#janela10">Saiba mais</button>
                <br><br>
                <!-- MODAL1 -->
                <div class="modal fade" id="janela10">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content bg-dark color-cinza">
                            <div class="modal-header">
                                <h5 class="modal-title">Cabelo</h5>
                                <button class="close" data-dismiss="modal"> <span>&times;</span> </button>
                            </div>

                            <div class="modal-body">
                                <img src="~/images/CabeloBarba3.jpg" alt="" class="img-fluid img-thumbnail">
                                <p>Estilo do momento, aproveite!</p>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-danger" data-dismiss="modal"> Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 text-center div-col">
                <h4>Barba 5</h4>
                <img src="~/images/CabeloBarba4.jpg" alt="" class="img-fluid img-thumbnail wow zoomIn" data-wow-delay="0.2s">
                <br>
                <b>Descrição</b>
                <br>

                <button class="btn btn-dark wow fadeInDown" data-wow-duration="1.8s" data-toggle="modal" data-target="#janela11">Saiba mais</button>
                <br><br>
                <!-- MODAL1 -->
                <div class="modal fade" id="janela11">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content bg-dark color-cinza">
                            <div class="modal-header">
                                <h5 class="modal-title">Cabelo</h5>
                                <button class="close" data-dismiss="modal"> <span>&times;</span> </button>
                            </div>

                            <div class="modal-body">
                                <img src="~/images/CabeloBarba4.jpg" alt="" class="img-fluid img-thumbnail">
                                <p>Estilo do momento, aproveite!</p>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-danger" data-dismiss="modal"> Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-4 text-center div-col">
                <h4>Barba 6</h4>
                <img src="~/images/Barba1.jpg" alt="" class="img-fluid img-thumbnail wow zoomIn" data-wow-delay="0.2s">
                <br>
                <b>Descrição</b>
                <br>

                <button class="btn btn-dark wow fadeInDown" data-wow-duration="1.8s" data-toggle="modal" data-target="#janela12">Saiba mais</button>
                <br><br>
                <!-- MODAL1 -->
                <div class="modal fade" id="janela12">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content bg-dark color-cinza">
                            <div class="modal-header">
                                <h5 class="modal-title">Cabelo</h5>
                                <button class="close" data-dismiss="modal"> <span>&times;</span> </button>
                            </div>

                            <div class="modal-body">
                                <img src="~/images/Barba1.jpg" alt="" class="img-fluid img-thumbnail">
                                <p>Estilo do momento, aproveite!</p>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-danger" data-dismiss="modal"> Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>


        </div>
        <hr>
        <br>



        <footer>
            <div class="align-self-center text-center">

                <p>Contato: (XX) XXXXX-XXXX</p>
                <a href="#"><img class="img-fluid img-thumbnail " src="~/images/facebookDP.jpg"></a>
                <a href="#"><img class="img-fluid img-thumbnail " src="~/images/instagramDP.jpg"></a>
                <a href="#"><img class="img-fluid img-thumbnail " src="~/images/snapDP.jpg"></a>
                <a href="#"><img class="img-fluid img-thumbnail " src="~/images/emailDP.jpg"></a>
            </div>
            <hr>
            <div class="text-center">
                Copyright© Dom Pedro Barber Shop 2019.
            </div>
        </footer>
        <hr>
    </div>




    @*Java script da página*@

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>
