<!DOCTYPE html>
<html lang="pt" dir="ltr">
<head>
    <title>Sobre</title>
    <link rel="shortcut icon" href="~/images/logoDPBS.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=width-device, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" href="~/images/logoDPBS.jpg" type="image/x-png" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/padrao.css" rel="stylesheet" />


</head>
<body class="bg-cinza-escuro">

    <!-- Menu -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark  wow fadeInDown" data-wow-duration="0.5s">

         <a href="~/Home/Index" class="navbar-brand"><img src="~/images/logoDPBS.jpg" class="navbar-brand"></a>


        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarMenu">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="~/Home/Index"> <b>Home</b> </a>
                <a class="nav-item nav-link" href="~/Home/Estilos"> <b>Estilos</b></a>
                <a class="nav-item nav-link" href="~/TB_CLIENTE/Create"> <b>Agendamento</b></a>
                <a class="nav-item nav-link active" href="~/Home/Sobre"> <b>Sobre</b></a>
                <a class="nav-item nav-link" href="~/TB_FUNCIONARIO/Login"> <b>Área do Funcionário</b></a>
            </div>
        </div>


    </nav>
    <br>
    <div class="container">

        <div class=" wow zoomIn" id="accordion" data-wow-duration="1s">



            <div class="card">
                <div class="card-header bg-cinza">
                    <img src="~/images/titulo.png" alt="" class="img-fluid img-thumbnail"> <br> <br>  <button class="btn btn-dark btn " data-toggle="collapse" data-target="#c1"
                                                                                                              aria-controls="c1">
                        Sobre nós
                    </button>
                </div>
                <div class="collapse show bg-dark " id="c1">
                    <div class="card-body" data-parent="#accordion">
                        <h2 class="text-center color-dourado">Poupe tempo, dinheiro e trabalho</h2>
                        <div class="color-cinza text-justify">

                            <b>
                                Nosso sistema de agendamento online, em primeiro lugar, é bem mais ágil e seguro do que os agendamentos tradicionais,
                                que apresentam maior risco de overbooking
                                (aceitar mais reservas do está disponível), erro nos dados do cliente, filas e exigem que
                                os funcionários dediquem um tempo precioso à essa função, que poderia ser gasto em outras atividades.
                                Além de diminuir os riscos e agilizar o processo, estaremos também facilitando o esquema administrativo do nosso negócio,
                                pois esses softwares reduzem a frequência e a necessidade de que um dos funcionários atenda ao telefone e administre manualmente
                                a agenda da barbearia.
                                Além disso, nosso sistema de agendamento é simples e pode ser utilizado por qualquer pessoa, tornando o processo mais prático tanto para os
                                clientes quanto para os funcionários. Sua finalidade, então, será unificar todas as etapas do atendimento, organizando a agenda dos profissionais sem ocupar espaço.
                            </b>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header bg-cinza ">
                    <button class="btn btn-dark" data-toggle="collapse" data-target="#c2"
                            aria-controls="c2">
                        Nossa história
                    </button>
                </div>
                <div class="collapse bg-dark color-dourado" id="c2">
                    <div class="card-body" data-parent="#accordion">
                        <div class="color-cinza text-justify">
                            <b>
                                A Barbearia Dom Pedro surgiu depois de uma conversa entre 4 amigos, desde então vem trazendo para São Paulo um novo conceito de barbearia.  <br>

                                Somos uma família de barbeiros que procura proporcionar sempre a melhor experiência de barbearia para seus clientes.
                            </b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header bg-cinza ">
                    <button class="btn btn-dark" data-toggle="collapse" data-target="#c3"
                            aria-controls="c3">
                        Os fundadores
                    </button>
                </div>
                <div class="collapse bg-dark color-dourado" id="c3">
                    <div class="card-body" data-parent="#accordion">
                        <div class="color-cinza text-justify">
                            <div class="row justify-content-center " style="height:500px">
                                <div class="col-3 text-center div-col">
                                    <h4 class="wow zoomIn" data-wow-duration="0.8s">Cristiano Rodrigo</h4>
                                    <img src="~/images/avatar.jpg" alt="Cadastro" class="img-fluid img-thumbnail wow zoomIn" data-wow-delay="0.2s"><br><br>

                                </div>
                                <div class="col-3 text-center div-col">
                                    <h4 class="wow zoomIn" data-wow-duration="0.8s">Leandro</h4>
                                    <img src="~/images/avatar.jpg" alt="Cadastro" class="img-fluid img-thumbnail  wow zoomIn" data-wow-delay="0.2s"><br><br>

                                </div>
                                <div class="col-3 text-center div-col">
                                    <h4 class="wow zoomIn" data-wow-duration="0.8s">Thomas Nícolas</h4>
                                    <img src="~/images/avatar.jpg" alt="Cadastro" class="img-fluid img-thumbnail wow zoomIn" data-wow-delay="0.2s"><br><br>

                                </div>
                                <div class="col-3 text-center div-col">
                                    <h4 class="wow zoomIn" data-wow-duration="0.8s">Vinícius Wesley</h4>
                                    <img src="~/images/avatar.jpg" alt="Cadastro" class="img-fluid img-thumbnail  wow zoomIn" data-wow-delay="0.2s"><br><br>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="text-center bg-preto-dark color-cinza">
                <address>
                    Copyright© <strong>Dom Pedro Barber Shop</strong> @DateTime.Now.Year.
                    &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                    <strong>Suporte:</strong> <a href="mailto:dpbs.barbershop@hotmail.com">dpbs.barbershop@hotmail.com</a><br />

                </address>
            </div>
        </div>




         @*Java script da página*@

        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/wow.min.js"></script>
        <script>
            new WOW().init();
        </script>
        <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>
